@import url('normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

/* ---- VARIABLES ---- */

:root {
    --headfoot-color: #020202;
    --bg-color: #F7F7FF;
    --art-color: #a41623;
}

/* ---- RESET ---- */

* {
    padding: 0;
    margin: 0;
    color: inherit;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    font-family: 'Nunito Sans' , sans-serif;
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100vh;
    background: var(--headfoot-color);
}

/* body.dark {
    background: var(--bg-color);
} */

h1, h2, h3 {
    color: var(--bg-color);
}

h1 {
    font-size: 2rem;
    color: #F7F7FF;
    text-align: center;
}

h2 {
    font-size: 1.8rem;
}

h3 {
    font-size: 1.5rem;
}

a, p, li {
    font-size: 1rem;
}

main {
    width: 100%;
    max-width: 1920px;
    margin: auto;
}

/* ---- HEADER ---- */

header {
    width: 100%;
    height: 90px;
    background: var(--headfoot-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

body.dark header {
    background: var(--bg-color);
}

.logo {
    width: 20%;
    min-width: 200px;
    max-width: 250px;
}

.menu {
    padding: 20px;
}

.menu ul li{
    display: inline-block;
    color: var(--bg-color);
    padding: 5px;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    position: relative;
}

.menu ul li::before {
    content: "";
    height: 1px;
    width: 0%;
    background: var(--bg-color);
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: 0.3s ease-out;
}

.menu ul li:hover::before{
    width: 100%;
}

/* ---- COMPONENTS ---- */

.btn {
    padding: 5px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.btn--cta {
    background-color: var(--art-color);
    color: var(--bg-color);
    width: 100px;
}

.btn--cta:hover {
    background-color: rgba(164,22,35,.9);
}

.btn--read {
    width: 33%;
    background-color: var(--bg-color);
    color: var(--art-color);
    font-weight: bold;
}

.btn--read:hover {
    background-color: rgba(247,247,255,.9);
    font-weight: bolder;
}

.btn--newsletter {
    background-color: var(--art-color);
    color: var(--bg-color);
}  

.btn--newsletter:hover {
    background-color: rgba(164,22,35,.9);
}

.btn--search {
    background-color: var(--art-color);
    color: var(--bg-color);
    margin-left: 5px;
}

.btn--search:hover {
    background-color: rgba(164,22,35,.9);
}

.btn--send {
    border: 1px solid #a41623;
    background-color: var(--art-color);
    color: var(--bg-color);
    cursor: pointer;
}

.btn--send:hover {
    background-color: rgba(164,22,35,.9);
}

.btn--member {
    background-color: var(--art-color);
    color: var(--bg-color);
    font-size: 2.8rem;
    border-radius: 8px;
}

.btn--member:hover {
    background-color: rgba(164,22,35,.9);
}

.news__card {
    background: linear-gradient(to bottom, rgb(164,22,35),rgba(164,22,35,.8));
    padding: 15px;
    margin: 30px;
    height: 500px;
    width: 400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}

.news__card p {
    color: var(--bg-color);
}

.search__container {
    width: 85%;
    display: flex;
    justify-content: flex-end;
    align-content: flex-end;
}

.switch__btn {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch__btn::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3 ease all;
    box-shadow: 0 0 2px 2px rgba(0,0,0.2);
}

.active {
    background: orange;
    color: var(--headfoot-color);
}

.active::after {
    right: 0;
    left: unset;
}

.switch__btn span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

/* ---- INDEX ---- */

.hero__section {
    position: relative;
    width: 100%;
    height: 880px;
    padding: 20px;
    text-align: center;
}

.hero__img {
    width: 100%;
    height: 100%;
}

.cta__section {
    position: absolute;
    left: 40%;
    top: 75px;
}
.news__board {
    padding: 20px;
    margin: 50px;
    text-align: center;
}

.news__board h2 {
    color: var(--bg-color);
    margin-top: 30px;
}

.news__container {
    margin: 50px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* ---- CONTENT PAGE ---- */

.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-gap: 20px;
    justify-content: center;
    margin: 100px auto 100px auto;
}

.grid__item {
    width: 400px;
    margin-bottom: 30px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.grid__item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.content__container {
    margin: 100px;
    width: 100%;
}

/* ---- TICKETS PAGE ---- */

.carrousel__section {
    width: 90%;
    margin: auto;
    scroll-behavior: smooth;
}

.carrousel__container {
    margin: auto;
    width: 800px;
    height: 600px;
    padding: 30px;
}

.slider__img {
    position: relative;
    width: 800px;
    height: 300px;
}

.slider__img li {
    position: absolute;
    opacity: 0;
    width: inherit;
    height: inherit;
    transition: opacity .5s;
}

.slider__img li:first-child {
    opacity: 1;
}

.slider__img li:target {
    opacity: 1;
}

.slider__img li img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.slider__tools {
    width: 130px;
    margin: auto;
    background: rgba(247,247,255,.5);
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.slider__menu li {
    display: inline-block;
    padding: 5px;
}

.slider__menu li a {
    color: var(--headfoot-color);
}

.dates__section {
    width: 100%;
    margin: auto;
    margin-top: 100px;
}

.dates__section h2 {
    margin: 20px;
    position: relative;
    left: 9%;
}

.dates__section p, a{
    color: var(--bg-color);
}

.musictype__container {
    width: 80%;
    margin: auto;
}

.musictype__title {
    width: 100%;
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: space-between;
}

.dates__container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.dates__container article p{
    margin-top: 10px;
}

.musictype__title a {
    text-decoration: underline;
}

/* ---- ABOUT-US PAGE ---- */

.about-us__container {
    width: 100%;
    background-image: url('../img/bg-about-us.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.about__grid__container {
    background: rgba(247,247,255,.2);
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);

}

.main__line {
    grid-column: span 2;
    margin: 30px
}

.sec__line {
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.third__line {
    grid-column: span 2;
    margin: 50px;
    display: flex;
    justify-content: space-between;
}

.paragraph {
    color: var(--bg-color);
}

.paragraph--large {
    font-size: 3rem;
}

.paragraph--medium {
    font-size: 2.5rem;
}

/* ---- CONTACT PAGE ---- */

.contact__container {
    display: flex;
    justify-content: space-around;
}

.info__container {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.mail__container,
.phone__container,
.location__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    padding: 10px;
}

.form__container {
    width: 40%;
    margin-top: 40px;
}

.form__container form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

p {
    color: var(--bg-color);
}

form label {
    color: var(--bg-color);
}

.contact__container .iconify {
    color: var(--bg-color);
}

.mail__container, .phone__container {
    margin: 50px 0 50px 0;
}

/* ---- FOOTER ---- */

footer {
    display: none;
    bottom: 0;
    width: 100%;
    height: 150px;
    background: var(--headfoot-color);
    color: var(--bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.social__media h3 {
    font-size: 1.3rem;
}

.sm__icons {
    text-align: center;
    margin-top: 8px;
}

.newsletter h3 {
    font-size: 1.4rem;
    margin-bottom: 5px;
}